.myCover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px !important;
    margin-bottom: 2px;
    position: relative;
    .cover-content {
        position: absolute;
        top: 30%;
        left: 10%;
        max-width: 460px;
        h1 {
            @include text($color-white-0, $fs-4, $fw-bold);
        }
        p {
            @include text($color-white-0, $fs-2 - 2, $fw-normal);
        }
        .input {
            .form-control {
                padding: 25px 10px;
                border: none;
                &::placeholder {
                    @include text($color-gray-2, $fs-2, $fw-normal);
                }
                &:focus {
                    box-shadow: none;
                }
            }
            .input-group-prepend {
                .input-group-text {
                    background-color: $color-white-0;
                    color: $color-red-0;
                    border: none;
                    padding: 0 15px;
                }
                &:hover {
                    .input-group-text {
                        background-color: $color-red-0;
                        color: $color-white-0;
                    }
                }
            }
        }
    }
}
